.title{
    font-size:20px;
}
.logo{
    width:400px;
    height:20px;
    color:#fffafa;
}
header{
    background-color: #ff0000;
    height:35px;
}
h3{
    font-size:20px; 
    font-family:メイリオ;
        
}
h1{
    font-family:メイリオ;
        
}
.container{
    height:80px;
    width:450px;
}
    
