.title{
    font-size:20px;
    font-family:メイリオ;
}
.logo{
    width:400px;
    height:20px;
    color:#fffafa;
    padding-top:5PX;
    padding-left:10px;
}
header{
    background-color: #ff0000;
    height:35px;
}
.yuumuseki{
    font-size:20px; 
    font-family:メイリオ;
    padding-bottom:5px;
}
.container{
    height:80px;
    width:450px;
    padding-top:20px;
}
    
