.logo{
    width:400px;
    height:20px;
    color:#fffafa;
    padding-top:5PX;
    padding-left:10px;
    font-size:20px;
}
header{
    background-color:#dcdcdc
    height:35px;
}
.yuumuseki{
    font-size:20px; 
    font-family:メイリオ;
}


footer{
    height:50px;
    paddig-top:20px;
    background-color:#dcdcdc
}
a{
    padding-left:10px; 
    padding-top:5px;
}

iframe{
    padding-top:20;
    margin-left:20px;
}
.btn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
}

.ms{
    background-color:#2e8b57;
}
.sj{
    background-color:#ff0000;
}
.tn{
    background-color:#0000cd;
}
